<md-toolbar layout="row" layout-align="center center">
  <div flex class="align-center">
    <h3>
      Council Records
      <md-button ng-click="vm.showInfo()" class="md-raised" style="font-family:Mallanna; color:#000">by ParaByte</md-button>
    </h3>
  </div>
</md-toolbar>
<md-subheader class="md-sticky align-center" layout="row">
  <form class="search-form">
    <div layout="row" layout-align="center center">
      <md-autocomplete class="md-primary" tabindex="0" flex="50" md-search-text="vm.search" md-items="item in vm.findResults(vm.search)" md-min-length="4" md-item-text="item" placeholder="Search for People, Companies, Keywords">
        <md-item-template>
          <span md-highlight-text="vm.search">
            {{item}}
          </span>
        </md-item-template>
      </md-autocomplete>
    </div>
    <div layout="row" layout-align="center center">
      <md-input-container class="md-accent md-icon-left" flex="20">
        <label>Min Amount</label>
        <md-icon>
          <i class="material-icons">attach_money</i>
        </md-icon>
        <input tabindex="1" type="number" step="1" name="rate" max-amount="{{vm.maxAmt}}" ng-model="vm.minAmt" />
      </md-input-container>
      <md-datepicker class="md-accent" tabindex="3" flex="20" layout-align="center center" ng-model="vm.startDate" md-placeholder="Start Date"></md-datepicker>
    </div>
    <div layout="row" layout-align="center center">
      <md-input-container class="md-accent md-icon-left" flex="20">
        <label>Max Amount</label>
        <md-icon>
          <i class="material-icons">attach_money</i>
        </md-icon>
        <input tabindex="2" flex type="number" step="1" name="rate" min-amount="{{vm.minAmt}}" ng-model="vm.maxAmt" />
      </md-input-container>
      <md-datepicker class="md-accent" tabindex="4" flex="20" ng-model="vm.endDate" md-placeholder="End Date"></md-datepicker>
    </div>
    <div layout="row" layout-align="center center">
      <md-button tabindex="5" flex="25" class="md-raised md-primary" ng-click="vm.doSearch()">Search</md-button>
    </div>
  </form>
</md-subheader>
<md-content layout-fill layout-align="center start" layout="row" ng-if="vm.results.length > 0">
  <!-- <md-content layout-fill layout-align="center start" layout="row"> -->
  <div flex="80">

    <md-data-table-toolbar>
      <h2 class="md-title">Results</h2>
    </md-data-table-toolbar>

    <md-data-table-container>
      <table md-data-table>
        <tbody>
          <tr md-auto-select ng-repeat="result in vm.results | limitTo: vm.limit: (vm.page - 1) * vm.limit" layout="row" style="height: 90px;">
            <td flex="70" style="overflow:hidden;">
              <h4><a href="{{::result._source.url}}" target="_blank">{{::result._source.title}}</a></h4>
              <p>{{::result._source.summary}}</p>
            </td>
            <td flex="15">{{::result._source.amount | currency}}</td>
            <td flex="15">{{::result._source.authorization_date | date}}</td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="vm.limit" md-page="vm.page" md-total="{{vm.results.length}}"></md-data-table-pagination>
  </div>
</md-content>
